.ColorList__new-color {
  background-color: black;
  color: white;
  padding: 1rem;
}

.ColorList__new-color > a {
  font-size: x-large;
  margin: 1rem;
}

.ColorList__new-color a:visited {
  color: white;
}

.ColorList__color-selection {
  padding: 1rem;
}
